- content_for :title, "Disability related information | National federation of the blind maharashtra - pune region"
%h1 Information related your disability
%br
%div{"role" => "form"}
  = render 'form'
%br
= link_to 'Back', page_path(@member.id)
