- content_for :title, "Dreams | National federation of the blind maharashtra - pune region"
%h1 Dreams:
%br
- if @content != nil
  = raw @content.dream_content
- else
  %b Empty page
%br
= link_to "Home", root_url
