<strong> Hi Admin, </strong>
<br/>
<br/>
<p>
We are glad to inform you that, we have received a donation request from a kind human being.
<br/>
Please visit our website(http://www.nfbmpune.org) and take the necessary action.
</p>
<strong> Regards, <br/> Pune Blind Federation Team </strong>
<br/>
<br/>
<strong> *** This email can't receive reply *** </strong>
