<strong> Hello <%= @scribe.first_name.capitalize + ' ' + @scribe.last_name.capitalize %> , </strong>
<br/>
<br/>
<p>
We are glad to hear that, you are Interested to help needy people. Hence, we will contact you whenever we require your Assistance.
<</p>
<strong> Regards, <br/> Pune Blind Federation Team </strong>
<br/>

<br/>
<strong> *** This email can't receive reply *** </strong>
