<strong> Dear Sir / Madam, </strong>
<br/>
<br/>
<b> Thank you for supporting us! </b>
<br/>
<p>
We have received your  request, and will connect you vary soon.
<br/>
For security perpose, we request you to kindly confirm your details.
<br/>
Your details are follows:
<br/>
<b> Your name: <br/> <%= @donation.donar_name %> </b>
<br/>
<b> Your Mobile number: <br/> <%= @donation.donar_mobile %> </b>
<br/>
<b> Your email: <br/> <%= @donation.donar_email %> </b>
<br/>
If any corection, kindly contact us. Our contact details are follows:
<br/>
Email: nfbmpune15@gmail.com
<br/>
Phone: +919881012931 Or +919850884448.
</p>
<strong> Regards <br/> Pune Blind Federation Team </strong>
<br/>
<br/>
<strong> *** This email can't receive reply *** </strong>
