<strong> Hi their <%= @scr.member_name %>, </strong>
<br/>
<br/>
<p>
Your request of <%= @scr.type_of_exam %> has been rejected by NFBM team for the following reason: <br/> <%= @scr.rejection_reason %> <br/>
Kindly communicate to NFBM team if you have any doubt.
<br/>
</p>
<strong> Regards, <br/> Pune blind federation team. </strong>

<h3>Pradhaan office address:</h3>
<br>
The National Federation of the Blind, Maharashtra
<br>
Rachanatmak karya samiti, Gandhi Chowk, R.S. Road, Vile Parle (West), Mumbai 400056.
<br>
Phone:
<a href='tel:02226140916'>022-26140916</a>
<br>
E-mail:
<a href='mailto:nfbmah@gmail.com?Subject=Hello%20' target='_top'>nfbmah@gmail.com</a>
<br>
<h3>Address for Pune branch:</h3>
<br>
<i>The National Federation of the Blind, Maharashtra - pune branch</i>
<br>
Block B - 13 , Nehru Stadium , Swargate Pune - 411009
<br>
Phone:
<a href='tel:02024445494'>020-24445494</a>
<br>
E-mail:
<a href='mailto:nfbmpune15@gmail.com?Subject=Hello%20' target='_top'>nfbmpune15@gmail.com</a>

<br/>
<b> *** This is system generated email, please do not reply to it. </b>