<strong> Hi <%= @scrm.member_name.capitalize %>, </strong>
<br/>
<br/>
<p>
As per your scribe request, we found a scribe for you. Please note down the details of your scribe, and do contact with him / her.
<br/>
Details of your scribe as follows:
<strong> Name of the scribe: <br/> <%= @scrm.scribe_first_name.capitalize + ' ' + @scrm.scribe_last_name.capitalize %>
</strong>
<br/>
<strong> Mobile number: <br/> <%= @scrm.scribe_mobile %>
</strong>
<br/>
<strong> Email: <br/> <%= @scrm.scribe_email %>
</strong>
<br/>
<b> Please note that, </b>
<br/>
<strong> You can't make blaim to NFBM in case you find any difficulty with this scribe. </strong>
<strong> Regards, <br/> Pune blind federation team. </strong>

<h3>Pradhaan office address:</h3>
<br>
The National Federation of the Blind, Maharashtra
<br>
Rachanatmak karya samiti, Gandhi Chowk, R.S. Road, Vile Parle (West), Mumbai 400056.
<br>
Phone:
<a href='tel:02226140916'>022-26140916</a>
<br>
E-mail:
<a href='mailto:nfbmah@gmail.com?Subject=Hello%20' target='_top'>nfbmah@gmail.com</a>
<br>
<h3>Address for Pune branch:</h3>
<br>
<i>The National Federation of the Blind, Maharashtra - pune branch</i>
<br>
Block B - 13 , Nehru Stadium , Swargate Pune - 411009
<br>
Phone:
<a href='tel:02024445494'>020-24445494</a>
<br>
E-mail:
<a href='mailto:nfbmpune15@gmail.com?Subject=Hello%20' target='_top'>nfbmpune15@gmail.com</a>

<br/>
<b> *** This is system generated email, please do not reply to it. </b>