- content_for :title, "Family information | National federation of the blind maharashtra - pune region"
%h1 Family information:
%br
%div{"role" => "form"}
  = render 'form'
%br
= link_to 'Back', page_path(@member.id)
