- content_for :title, "Scribes | National federation of the blind maharashtra - pune region"
- if user_signed_in?
  - if current_user.role == 'admin'
    = render 'para'
  - else
    %b You have no access
- else
  You have no access
