- content_for :title, "Profession info | National federation of the blind maharashtra - pune region"
%h1 professionalInfo
%br
%div{"role" => "form"}
  = render 'form'
%br
= link_to 'Back', page_path(@member.id)
