%p#notice= notice
%h1 Wellcome to National blind federation of pune region...

- if user_signed_in?
  - if current_user.role == 'admin' && @user.count == 0
    %strong
      Dear Admin,  "We are not showing tirms and conditions for membership form. Please generate that page belows link before navigating anywhere."
      = link_to "Genarate page", tirmcontent_path


%h2 Events
%br
%ul
  - @activity.each do |a|
    %li= link_to a.activity_title, activity_path(a)
%h2 Board of directors
%br
%ul
  - @team.each do |t|
    %li= link_to t.name + ' - '   + t.post, team_path(t)

