- content_for :title, "Address information | National federation of the blind maharashtra - pune region"
%h1  address infomation:
%br
%div{"role" => "form"}
  = render 'form'
%br
= link_to 'Back', page_path(@member.id)
