- content_for :title, "New request | National federation of the blind maharashtra - pune region"
%h1 New request
- if user_signed_in?
  - if current_user.role == 'member'
    %div{"form" => "true"}
      = render 'form'

= link_to 'Back', scriberequests_path
