= simple_form_for anulupdate_path(@activity), method: :put do |f|
  .form-input
    = label_tag "Anual activity content"
    = cktext_area_tag 'anual', @activity.anual_activity
  .form-action
    = submit_tag "Update"
