
- content_for :title, "Editing activity | National federation of the blind maharashtra - pune region"
%h1 Editing activity

= render 'form'

= link_to 'Show', @activity
\|
= link_to 'Back', activities_path
