- content_for :title, "Tirms and conditions | National federation of the blind maharashtra - pune region"
%h1 Tirms and conditions
%br
- if @user == nil
  %b This page not updated from admin.
- else
  = raw @user.tirms_content
%br
%h2 Technical details
%br
%ul
  %li Star Indicates mandatory fields. Please marks properly.
  %li While taking online membership, you need your scan photograph and signature / thum impration.
  %li Your photo file size must be between 10KB to 30KB and signiture file between 8KB to 20KB.
  %li If abub file size we could not find, your form will not submit.
  %li Please do not fully rely on our SMS service because it is under testing process. Their for, kindly provide your e-mail ID in email block. So, you will not miss any activity cunducted by NFBM pune.
  %li You are able to take benefit all facilities of " NFBM Pune ", after confirmming your account by admin team.
%br
/ - if @user != nil
- if @user == nil
  = button_to "I agree", new_member_path, :class => "button", :method => :get
\|
= button_to "I disagree", root_path, :class => "button", :method => :get
