- content_for :title, "Change role | National federation of the blind maharashtra - pune region"
- if user_signed_in?
  - if current_user.role == 'member' || current_user.role == 'clerk'
    %b You are trying to inject our side! We have sent your details to admin team, and now they can take legal action on you.
  - else
    = render 'change'
