- content_for :title, "Editing circular | National federation of the blind maharashtra - pune region"
%h1 Editing circular

= render 'form'

= link_to 'Show', @circular
\|
= link_to 'Back', circulars_path
